

.header{
  color: aliceblue;
  background-color: blue;
}



.container{
  color: rgb(107, 17, 52);
  background-color:rgb(248, 186, 227);
}
.footer{
  color: rgb(243, 158, 158);
  background-color: rgb(136, 8, 8);
}